body {
    /* 
        Setting up some global rules for the webpage : 

        - default font-family to use for all text
        - default text-color and size
        - remove default margins of the body element
    */

    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}


.page-container > div {
    text-align: center;
    border: solid black 2px;
    margin: 5px;
}

.header, .footer {
    background-color: #795FDC;
}

.content-1, .content-2, .content-3 {
    background-color: #516EE5;
}

.sidebar {
    background-color: #35CEC7;
}

.page-container {
    display: grid;
    /* Setup the grid template */
    grid-template-columns: 
    [col-line-1] 100px 
    [col-line-2] 1fr 
    [col-line-3] 1fr 
    [col-line-4];

    grid-template-rows:
    [row-line-1] 50px
    [row-line-2] auto
    [row-line-3] auto
    [row-line-4] 70px
    [row-line-5];
}

.header {
    grid-column-start: col-line-1;
    grid-column-end: col-line-4;
    grid-row-start: row-line-1;
}

.sidebar {
    grid-column-start: col-line-1;
    grid-row-start: row-line-2;
    grid-row-end: row-line-4;
}

.content-1 {
    grid-column-start: col-line-2;
    grid-column-end: span 2;
    grid-row-start: row-line-2;

    height: 200px;

}

.content-2 {
    grid-column-start: col-line-2;
    grid-row-start: row-line-3;
    height: 150px;
}

.content-3 {
    grid-column-start: col-line-3;
    grid-row-start: row-line-3;

}

.footer {
    grid-column: span 4;
    grid-row-start: row-line-4;
    
}