body {
    /* 
        Setting up some global rules for the webpage : 

        - default font-family to use for all text
        - default text-color and size
        - remove default margins of the body element
    */

    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 14px;
    margin: 0;
}

a {
    /*
        Getting rid of default formatting for <a> elements. `inherits` tells that
        `a` elements should use the value set on its parent for these properties.
    */
    text-decoration: inherit;
    color: inherit;
}

.nav-menu {
    /* Center element */
    margin-right: auto;
    margin-left: auto;
    width: 75%;

    height: 60px;
    background-color: #f5f5f5;

    display: flex;
    /* flex positionning of children */
    align-items: center;
    justify-content: center;


}

.nav-menu .menu-item {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    margin-right: 30px;
}

.nav-menu .menu-item.active,
.nav-menu .menu-item:hover {
    color: #61259e;
}