body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 14px;
    margin: 0;
}

a {
    /*
        Getting rid of default formatting for <a> elements. `inherits` tells that
        `a` elements should use the value set on its parent for these properties.
    */
    text-decoration: inherit;
    color: inherit;
}


.page {
    display: grid;
    grid-template-columns: 
        [col1-left-margin] 1fr 
        [col2-logo-space] 190px
        [col3-remaining-left-panel] calc(1140px * 2/3 - 190px)
        [col4-right-panel] calc(1140px * 1/3)
        [col5-right-margin] 1fr;
    grid-template-rows: 
        [row1-header1] 130px 
        [row2-header2] auto 
        [row3-main-content] auto; 
}

.top-header-right-placeholder {
    grid-row-start: row1-header1;
    grid-column-start: col5-right-margin;
    background-color: #f5f5f5;
}


.top-header-content {
    grid-column-start: content-col-1;
    grid-column-end: span 2;
    background-color: #f5f5f5;
}

.logo {
    background-color: white;
    grid-row-start: row1-header1;
    grid-column-start: col2-logo-space;
}

.logo img {
    /* Center the image horizontally in the container */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu {
    /* Positionning this element in the CSS Grid */
    grid-row-start: row1-header1;
    grid-column-start: col3-remaining-left-panel;
    grid-column-end: span col5-right-margin;

    background-color: #f5f5f5;

    /* Set container as "flex", in order to have the children 
       arranged horizontally instead of vertically */
    display: flex;
    /* flex properties that help to fine adjust the positionning of children */
    align-items: end;
    justify-content: center;
}

.nav-menu .menu-item {
    margin-right: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}

.nav-menu .menu-item.active,
.nav-menu .menu-item:hover {
    color: #61259e;
}


.title-banner-background {
    grid-row-start: row2-header2;
    grid-column-start: col1-left-margin;
    grid-column-end: -1;
    background-color: #2d1a47;
}

.title-banner-content {
    grid-row-start: row2-header2;
    grid-column-start: col3-remaining-left-panel;
    grid-column-end: span 2;

    color: white;
}

.title-banner-content h1 {
    /* Remove default margin that is associated to h1 element */
    margin: 0;
}


.title-banner-left-placeholder {
    grid-row-start: row2-header2;
    grid-column-start: col2-logo-space;
    background-color: #61259e;
}

.title-banner-content {
    padding: 40px;
}


.title-banner-content h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.title-banner-content .subtitle-menu {
    font-size: 12px;
}

.title-banner-content .subtitle-menu .menu-item.active,
.title-banner-content .subtitle-menu .menu-item:hover,
.title-banner-content .subtitle-menu .delimiter {
    color: #A26CDA;
}



.page-content-left {
    grid-row-start: row3-main-content;
    grid-column-start: col2-logo-space;
    grid-column-end: span 2;

    padding-right: 30px;
    line-height: 2em;
}

.page-content-right {
    grid-column-start: col4-right-panel;
    grid-row-start: row3-main-content;

    padding-left: 30px;
}


.page-content-left, .page-content-right {
    margin-top: 40px
}


.page-content-left h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
}

.content-menu .menu-item {
    color: #999999;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-menu hr {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #CCCCCC;
}