body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 14px;
    margin: 0;
}

.page {
    display: grid;
    grid-template-columns: 
        [col1-left-margin] 1fr 
        [col2-logo-space] 190px
        [col3-remaining-left-panel] calc(1140px * 2/3 - 190px)
        [col4-right-panel] calc(1140px * 1/3)
        [col5-right-margin] 1fr;
    grid-template-rows: 
        [row1-header1] 130px 
        [row2-header2] auto 
        [row3-main-content] auto; 
}

.top-header-right-placeholder {
    grid-row-start: row1-header1;
    grid-column-start: col5-right-margin;
    background-color: #f5f5f5;
}


.top-header-content {
    grid-column-start: content-col-1;
    grid-column-end: span 2;
    background-color: #f5f5f5;
}

.logo {
    background-color: white;
    grid-row-start: row1-header1;
    grid-column-start: col2-logo-space;
}

.logo img {
    /* Center the image horizontally in the container */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu {
    /* Positionning this element in the CSS Grid */
    grid-row-start: row1-header1;
    grid-column-start: col3-remaining-left-panel;
    grid-column-end: span col5-right-margin;

    background-color: #f5f5f5;

    /* Set container as "flex", in order to have the children 
       arranged horizontally instead of vertically */
    display: flex;
    /* flex properties that help to fine adjust the positionning of children */
    align-items: end;
    justify-content: center;
}

.nav-menu .menu-item {
    margin-right: 30px;
}



.title-banner-background {
    grid-row-start: row2-header2;
    grid-column-start: col1-left-margin;
    grid-column-end: -1;
    background-color: #2d1a47;
}

.title-banner-content {
    grid-row-start: row2-header2;
    grid-column-start: col3-remaining-left-panel;
    grid-column-end: span 2;
}


.title-banner-left-placeholder {
    grid-row-start: row2-header2;
    grid-column-start: col2-logo-space;
    background-color: #61259e;
}

.page-content-left {
    grid-row-start: row3-main-content;
    grid-column-start: col2-logo-space;
    grid-column-end: span 2;
}

.page-content-right {
    grid-column-start: col4-right-panel;
    grid-row-start: row3-main-content;
}

